.mh-520{
    min-height: 520px;
}
.mh-400{
    min-height: 400px;
}
.h-140{
    height: 140px !important;
}
.w-36{
    width: 36px !important;
}

.logoIcon{
    width: auto;
    height: 75px;
}

/* ORDER */

.cardSize{
    width: 400px; 
    height: 550px;
}
.logoSize{
    width: 69px; 
    height: 69px;
}

/* ORDERNUMBER*/
.odflot{
    font-size: .9rem !important;
}

/* BOOKMARK */

.bmlogo img, .lgdp img{
    height: 140px;
}

@media(min-width: 0px){
    .bmlogo{
        width: 98%;
        min-height: 50vh;
    }
    .lgdp{
        min-height: 44vh;
    }
}
@media(min-width: 576px){
    .bmlogo{
        width: 253px;
    }
}
@media(min-width: 768px){
    .bmlogo{
        width: 340px;
    }
}
@media(min-width: 992px){
    .bmlogo{
        width: 305px;
    }
}
@media(min-width: 1200px){
    .bmlogo{
        width: 295px;
    }
}

.community{
    background-image: url(../images/loginBanner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70px;
}

/* LOGIN REGIST */
.fbColor{
    color: #3B5998;
}
.p-0-50{
    padding: 0px 50px;
}

/* MODIFY */
.chooColor{
    width: 60px;
    height:38px;
}
#modifyForm{
    min-height: 580px;
}
#pdlogo small::after{
    content: "*此處為示意圖,商品以檔案為主";
    position: absolute;
    bottom: -12%;
    left: 11%;
    
}

/* carts_lists */
.stepper { /*流程狀態的外層加class*/
    position: relative;
 }
.stepper::before,.stepper::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: calc(100% - 0.5rem); /*減掉父層兩邊的padding距離，避免凸出去*/
    height: 3px;
    top: calc(50% - 2px);/*減掉一半的線的高度*/
    left: 0.25rem; /*父層的padding距離*/
}
.stepper::before{
    background: rgba(255, 255, 255, 0.5);
}
.stepper::after { 
    background: var( --logoColor);
    width: 0%;
}
.stepper.step-half::after { /*步驟2的時候 加上step-half的class名稱*/
    width: 50%;
}
.stepper.step-final::after { /*步驟3的時候 加上step-final的class名稱*/
    width: calc(100% - 0.5rem);
}
.payPick:checked + label {
    background: var( --logoColor);
    color: white;
}
.list-group-item+.list-group-item {
    border-top-width: 1px;
}
.list-group-item.active{
    color: #fff;
    background-color: var( --logoColor);
    border: 0;
    transition: all .2s ease-in;
}

/* USERINFO */

/* CONTACT */
.sendSuccess { display: none; }
