.banner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}
.banner h2{
    color: #FC9545;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}
.srchtext{
    width: 365px;
    height: 40px;
    border: unset;
    border-radius: 4px;
}
.srchtext-2{
    width: 385px;
    height: 40px;
    border: unset;
    border-radius: 4px;
}
.srch{
    border: unset;
    background-color: #FAD06A;
    color: #FC9545;
}
.srch:hover {
    background-color:#20e388;
    color: white;
}

.baninform{
    padding-top: 100px;
}

/* search.php banner */
.srcBanner{
    background-image: url(../images/banner/logoWeb\ ori\ sm.png),url(../images/class1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
}

@media(min-width: 0px){
    .banner{
        background-image: url(../images/banner/logoweb\ color\ face.png);
    }
    .srcBanner{
        height: 300px;
    }
}
@media(min-width: 768px){
    .srcBanner{
        height: 360px;
    }
}
@media(min-width: 1200px){
    .banner{
        background-image: url(../images/banner/logoWeb\ 3.png);
    }
    .srcBanner{
        background-size: cover;
        height: 350px;
    }
}

/* logoAnima */
#greenMouth, #appleMouth{
    animation: smile 1s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
#yellowMouth, #orangeMouth{
    animation: smile 1s ease-in-out infinite alternate-reverse;
    transform-origin: bottom;
    transform-box: fill-box;
}
#greeneeFace, #greenee, #greenCheek{
    animation: sizing 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}
#yellowee, #yelloweeFace, #yellowCheek{
    animation: sizing 2s ease-in-out infinite alternate;
    transform-origin: bottom;
}
#orangeeFace, #orangee, #orangeCheek {
    animation: sizing 1s ease-in-out infinite alternate-reverse;
    transform-origin: bottom;
}
#applee, #appleeFace, #appleCheek {
    animation: sizing 1.5s ease-in-out infinite alternate-reverse;
    transform-origin: bottom;
}
@keyframes smile{
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1.2);
    }
}
@keyframes sizing{
    from{
        transform: rotateX(10deg)
    }
    to{
        transform: rotateX(20deg);
    }
}
/* @keyframes cheek{
    from{
        transform: rotateX(10deg)
    }
    to{
        transform: rotateX(20deg);
        fill: rgba(255,146,146,0.2)
    }
}
@keyframes cheek2{
    from{
        transform: rotateX(10deg);
        fill: rgba(255,132,37,0.2);
    }
    to{
        transform: rotateX(20deg);
        fill: rgba(246,216,97,0.3);
    }
} */

@keyframes bump {
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(40deg);
    }
}
@keyframes move1 {
    from{
        transform: translateY(5px);
    }
    to{
        transform: translateY(50px);
    }
}
@keyframes bump2 {
    from{
        transform: rotate(10deg)
    }
    to{
        transform: rotateX(-40deg);
    }
}
@keyframes bump3 {
    from{
        transform: rotate(-10deg)
    }
    to{
        transform: rotateX(40deg);
    }
}
#apple {
    animation: bump 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}
#appleFace {
    animation: move1 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}
#yellow, #yellowFace, #grass, #grassFace {
    animation: bump2 1s ease-in-out infinite alternate;
    transform-origin: bottom left;
}
#orange, #orangeFace, #pink, #pinkFace {
    animation: bump3 1s ease-in-out infinite alternate;
    transform-origin: bottom right;
}


