.caroItem_1{
    transform: scale(0.4) rotate(-24deg) translate(-70px, 330px) !important;
    transition: transform 1s ease-in-out 1s;
}
.caroItem_2{
    transform: scale(0.3) rotate(-12deg) translate(-250px, 340px) !important;
    transition: transform 1s ease-in-out 1s;
}

.carousel-caption{
    bottom: 50px;
}

@media (min-width: 0px){
    #scoll_overlay{
        top: 49px;
        left: 0px;
        transition: ease-in-out 1s;
    }
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 700px;
        height: 400px;
    }
}
@media (min-width: 1200px){
    #scoll_overlay{
        top:   126px;
    }
}
.carousel-control-next-icon {
    background-image: url(../images/svg/chevron_right_black_36dp.svg);
}
.carousel-control-prev-icon {
    background-image: url(../images/svg/chevron_left_black_36dp.svg);
}

.carousel-indicators {
    bottom: 2%;
}
