* {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    /* 預選字體 ubuntu */
}
:root{
  --logoColor: #FC9545;
  --logoColor_2: #7DE290;
  --logoColor_3: #FAD06A;
  --alertColor: #ff4646;
}

body{
  background-color:#f3eee8;  
  /* background: var( --logoColor);   */
  /* background: -webkit-linear-gradient(to bottom, #fff0dc, var( --logoColor));  
  background: linear-gradient(to bottom, #fff0dc, var( --logoColor));  */

}

.row, .col-6, .col-md-4, .col-lg-3{
  padding: 0;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
  color: var( --logoColor);
}

ul, ol, li {
  list-style: none;
}

button{
  border: none;
  background-color: transparent;
}

h1, h2{
  margin: 0 5px;
}


/* height */
.height-500{
  height: 520px;
}

.height-200{
  height: 200px;
}
.height-400{
  height: 400px;
}

/* 其他常用 */
.z-index-1{
  z-index: 1;
}
.z-index-2{
  z-index: 2;
}
.z-index-100{
  z-index: 100;
}

.opacity-3{
  opacity: 0.3;
}

.left-0{
  left: 0;
}

/* btn */
.btn-orange{
  color: white;
  background-color: var( --logoColor);
}
.btn-orange:hover{
  color: white;
  background-color: #ff892f;
}
.btn-outline-orange{
  color: var( --logoColor);
  background-color: transparent;
  border: solid 1px;
  border-color: var( --logoColor);
}
.btn.btn-outline-orange:hover{
  color: white;
  background-color: var( --logoColor);
  border: solid 1px;
  border-color: var( --logoColor);
}
.btn.btn-outline-orange.active{
  color: white;
  background-color: var( --logoColor);
  border: solid 1px;
  border-color: var( --logoColor);
}
.btn.btn-outline-orange.disabled{
  color: rgba(0, 0, 0, 0.4);
  background-color: transparent;
  border: solid 1px;
  border-color:rgba(0, 0, 0, 0.4);
}
.btn-light:hover {
  color: var( --logoColor);
  background-color: white;
  border-color: var( --logoColor);
}
.btn-outline-color2{
  color: mediumseagreen;
  background-color: transparent;
  border-color: var( --logoColor_2);
}
.btn.btn-outline-color2:hover{
  color: white;
  background-color:var( --logoColor_2);
  border: solid 1px;
  border-color: var( --logoColor_2);
}
.bg-white-95{
  background-color: rgba(255, 255, 255, 0.98);
}
.bg-logoColor{
  background-color: var( --logoColor);
}
.bg-logoColor-2{
  background-color: var( --logoColor_2);
}
.bg-pinkLight{
  background-color:#FFD6D6;
}
.bg-yellow {
  background: var( --logoColor_3);
}
.bg-cloud{
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 15px 35px rgba(255,255,255,0.05);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.bg-0_8{
  background-color: rgba(255,255,255,0.9);
  /* backdrop-filter: blur(3px); */
}
.text-alert{
  color: var( --alertColor);
}
.text-orange{
  color: var( --logoColor);
}
.text-color2{
  color: var( --logoColor_2);
}
.badge-orange{
  color: var( --logoColor);
  background-color: transparent;
}
.badge-orange.active{
  color: #FFFFFF;
  background-color: var( --logoColor);
}
.badge-orange:hover{
  color: #FFFFFF;
  background-color: var( --logoColor);
}
.badge-orange.active:hover{
  color: var( --logoColor);
  background-color: #FFFFFF;
}


/* toTop arrow */
.toTop-arrow {
  position: fixed;
  right: 20px;
  bottom: -56px;
  opacity: 0;
  z-index: 10;
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
}
.toTop-arrow:hover{
  background: #ff8425cc;
}

.toTop-arrow.showw {
  opacity: .8;
}
.toTop-arrow:hover {
  opacity: 1;
}

.toTop-arrow:before {
  transform: rotate(-45deg) translateY(-50%);
  left: 10px;
}

.toTop-arrow:after {
  transform: rotate(45deg) translateY(-50%);
  right: 10px;
}

.toTop-arrow:after, .toTop-arrow:before {
  position: absolute;
  top: 50%;
  width: 16px;
  height: 3px;
  border-radius: 3px;
  background: #ff8425cc;
  content: "";
}

.toTop-arrow:hover:after, .toTop-arrow:hover:before {
  background: #FFFFFF;
}

@media(min-width:0px){
  .toTop{
      bottom: 365px;
      right: 7%;
    }
  }
@media(min-width:768px){
    .toTop{
      right: 6.5%;
  } 
}
@media(min-width:992px){
    .toTop{
      right: 3.7%;
  } 
}
@media(min-width:1200px){
    .toTop{
      bottom: 228px;
      right: 4.2%;
    }
}

/* add bootstrap 5 */
.list-group-numbered {
  list-style-type: none;
  counter-reset: section;
}
.list-group-numbered>li::before {
  content: counters(section, ".") ". ";
  counter-increment: section;
}


/* RWD margin-top */
@media(min-width:0px){
  .mToTop{
    margin-top: 70px;
  }
}
@media(min-width:1200px){
  .mToTop{
    margin-top: 78px;
  }
}

.mg-70 { 
  margin-top: 70px;
}
.dropdown-menu {
  border: 0;
}

