.color-sample {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	float: left;
	margin-right: 8px;
}
.page-title {
	position: relative !important;
	background-color: #fff;
	padding: 18px;
	margin-bottom: 4px;
	text-align: center;
	font-size: 14px;
	pointer-events: none;
}
@media (min-width: 576px) {
	.page-title {
		background-color: transparent;
		position: fixed !important;
		font-size: 20px;
	}
}
.logo-img {
	width: 150px;
}
.upload-img {
	width: 200px;
}
.overlay,
.uploadDbItems:hover::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
}

/* ---layout---------------------- */
@media (max-width: 575.98px) {
	.designer-content .container-sm,
	.designer-content h6,
	.designer-content .btn {
		font-size: 14px;
	}
}
@media (max-width: 767.98px) {
	.designer-content .container-sm {
		padding-left: 0;
		padding-right: 0;
	}
}
/* ---切換修改資訊(carousel)------------ */

@media (max-width: 767.98px) {
	#modify_carousel .row.carousel-item {
		margin-right: -100%;
	}
}

#modify_carousel .carousel-control-prev,
#modify_carousel .carousel-control-next {
	width: 30%;
	bottom: 50%;
}

@media (min-width: 768px) {
	#modify_carousel .row.carousel-item {
		display: flex;
	}
}

/* ---已上傳部分---------------------- */
.delDbBtn {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}
.uploadDbItems:hover .delDbBtn {
	display: inline-block;
}
/* ---上傳拖曳區塊---------------------- */
.upload-wrapper {
	position: relative;
	min-height: 330px;
	border: 2px dashed #ff7870;
	border-radius: 4px;
	transition: background-color 0.2s;
}

.upload-wrapper:hover {
	background-color: #fcfaf8 !important;
}
.upload-wrapper.dragging {
	background-color: #fffcf9 !important;
}
.upload-wrapper .tag {
	color: #ff7870;
	border: solid 2px;
	border-color: #ff7870;
}
.upload-wrapper .btn:hover {
	color: #fff;
	background-color: #ff7870;
}
#upload {
	width: 100%;
	height: 100%;
	font-size: 0;
	cursor: pointer;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
}
#upload:focus {
	outline: none;
}

/* ---覆蓋common---------------------- */
@media (min-width: 992px) {
	.offset-lg-2 {
		margin-left: 16.666667%;
	}
}
