/* FOOTER */
footer {
  background: -webkit-linear-gradient(to bottom, var( --logoColor_4), var( --logoColor));  
  background: linear-gradient(to bottom, var( --logoColor_4), var( --logoColor)); 
  /* background-color: transparent; */
  padding: 30px;
  /* height: 200px; */
}
footer h4{
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
footer a{
  color: #000;
  font-weight: 400;
  font-size: 14px;
}
footer span{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer-logo{
  width: 95px;
  height: 95px;
}