header {
    /* background-color: #DFCCBD; */
    /* background-color: #ff8425cc; */
    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
.sidebar{
padding: 10px;
}
.logo {
    /* background-image: url(../images/logo.svg); */
    background-image: url(../images/svg/logoLogo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px; 
    height: 40px;
}

@media(max-width: 1999px){
    .logo{
        display: flex;
    }
}
@media(min-width: 1200px){
    .logo{
        display: inline-block;
    }
}

@keyframes spin{
  from{
    transform: rotateX(0deg)
  }
  to{
    transform: rotateX(360deg)
  }
}

.logo a {
color: white;
font-size: 10px;
padding: 15px;
}

.userList{
    left: -110px !important;
    text-align: center !important;
    background: rgba(255, 255, 255, 0.8);
}
.bagList{
    left: -238px !important;
    text-align: right !important;
    background: rgba(255, 255, 255, 0.8);
    width: 390px;
}

.userList a{
    color:slategray;
    padding: 1.35rem .5rem !important;
}

.dropdown-item:hover{
    background-color: white;
}

.sideMenuBtn, .sideMenuBtn-L{
  cursor: pointer;
}
.sideMenuBtnCall::before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  display: block;
  z-index: 2;
  border: 2px solid var( --alertColor);
  background-color: var( --logoColor_3); 
  top: 37%;
  right: -80%;
  opacity: 0;
  transform: translateY(-8px);
  transition: all .3s ease-in-out;
}
.sideMenuBtnCall.show::before{
  opacity: 1;
  transform: translateY(0px);
}
.sideMenuBtnCall.show.ckx::before{
  transform: translateY(0px) translateX(-50px);
  opacity: 0;
  background-color: transparent;
}
.call::before{
  content: '';
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  line-height: 22px;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  display: block;
  z-index: 2;
  background-color: var( --logoColor_ob_0); 
  top: -35%;
  left: 13%;
  transform: scale(0);
  opacity: 0;
  transition: all .1s ease-in-out;
}
.call.show::before{
  opacity: 1;
  transform: scale(1);
}
.sysInfo:hover .call.show::before, .carts:hover .call.show::before{
  content: '1';
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -35%;
  left: 12.5%;
  background-color: var( --alertColor);
}

.menuBurger, .menuBurger-L {
    width: 20px;
    height: 2px;
    background-color: var( --logoColor);
    border-radius: 5px;
    transition: all .3s ease-in-out;
  }
  
  .menuBurger::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: var( --logoColor);
    border-radius: 5px;
    transition: all .3s ease-in-out;
  }
  .menuBurger-L::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: var( --logoColor);
    border-radius: 5px;
    transform: translate(5px , -7px);
    transition: all .3s ease-in-out;
  }

  .menuBurger::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: var( --logoColor);
    border-radius: 5px;
    transition: all .3s ease-in-out;
  }
  .menuBurger-L::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: var( --logoColor);
    border-radius: 5px;
    transform: translate(10px , 7px);
    transition: all .3s ease-in-out;
  }
  
  .menuBurger::before {
    transform: translateY(-7px);
  }
  
  .menuBurger::after {
    transform: translateY(7px);
  }

  /* burger animate */
  .MenuBtnOpen {
    background-color: transparent;
    transform: translateX(-50px);
  }
  
  .MenuBtnOpen::before {
    width: 20px;
    transform: rotate(45deg) translate(35px, -35px);
  }
  
  .MenuBtnOpen::after {
    width: 20px;
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .font8rem{
    font-size: 0.9rem !important;
  }

  #collapseMenu-sm{
    max-height: 75vh;
    overflow-y: auto;
    top: 65px; 
    margin:0px -15px; 
    background: rgba(255, 255, 255, 0.95);
  }

  .menulist:hover path {
    fill: var( --logoColor);
  }
  .menulist:hover #quesDot{
    fill: white;
  }
  .head_icon:hover .headIcon path{
    fill: var( --logoColor);
    fill-opacity: 1;
    transition: all .2s ease-in;
  }
  
