#shopFlow:hover #man{
    animation: wave 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}
#shopFlow:hover #goods{
    animation: bounce 1s ease-in-out infinite;
    transform-origin: bottom;
}
#shopFlow:hover #download{
    animation: tremor .5s ease-in-out infinite alternate;
    transform-origin: bottom;
}
#shopFlow:hover #NumNotify{
    animation: flip 1s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
#shopFlow:hover #orderCont{
    animation: leftIn 1s ease-in-out infinite alternate;
    transform-origin: left;
    transform-box: fill-box;
}
#shopFlow:hover #money{
    animation: rightView 1s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}
#greenBlock{
    animation: xMove1 1s ease-in-out infinite alternate;
}
#appleBlock{
    animation: xMove1 1s ease-in-out infinite alternate-reverse;
}
#orangeBlock{
    animation: xMove2 1s ease-in-out infinite alternate;
}
#yellowBlock{
    animation: xMove3 2s ease-in-out infinite alternate-reverse;
    transform-origin: left;
    transform-box: fill-box;
}
#pinkBlock{
    animation: xMove3 1.5s ease-in-out infinite alternate;
    transform-origin: left;
    transform-box: fill-box;
}
@keyframes wave {
    from{
        transform: rotate(-5deg);
    }
    to{
        transform: rotate(5deg);
    }
}
@keyframes bounce {
    from{
        transform: translateY(-60px);
    }
    to{
        transform: translateY(0px);
    }
}
@keyframes tremor {
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(0px);
    }
}
@keyframes flip {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}
@keyframes leftIn {
    from{
        transform: rotateY(-90deg);
    }
    to{
        transform: rotateY(0deg);
    }
}
@keyframes rightView {
    from{
        transform: rotateX(-90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}
@keyframes xMove1 {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(20px);
    }
}
@keyframes xMove2 {
    from{
        transform: translateX(-10px);
    }
    to{
        transform: translateX(5px);
    }
}
@keyframes xMove3 {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}