.pdClass span{
    background-size: cover;
    background-position: center center;
    font-size: 32px;
}
.pdClass:hover .mask{
    transition: .3s;
    opacity: 1;
}
.mask{
    background: rgba(255, 255, 255, 0.4);
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: .5s;
}
.mask a{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.95);
    font-size: 18px;
    font-weight: 400;
    color: black;
    text-align: center;
}

.bkmk_1{
    z-index: 2;
    top: 0;
    right: 0;
    opacity: 0;
    transition: .3s;
}
.bkmk_2{
    z-index: 2;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: .3s;
}
.hrtCk{
    cursor: pointer !important;
}

.logo-display:hover .bkmk_1, .logo-display:hover .bkmk_2{
    opacity: 1;
    transition: .3s;
}


@media(min-width: 0){
    .pdClass span{
        width: 100%;
        /* line-height: 80px; */
        border-radius: 0.5rem;
        margin-left: 5px;
        margin-right: 5px;
        /* margin: .5rem; */
        /* margin: 1px; */
    }
    .logoDpSm img{
        width: 100px;
    }
}
@media(min-width: 500px){
    .pdClass span{
        line-height: 80px;
    }
    .logoDpSm img{
        width: 137px;
    }
}
@media(min-width: 768px){
    .pdClass span{
        width: 100%;
        height: auto;  
        line-height: 120px;
        padding: 0;
        margin: 0;
        border-radius:unset;
    }
    .mask{
        width: 230px;
        height: 145px;
    }
}
@media(min-width: 992px){
    .mask{
        width: 310px;
    }
}

@media(min-width: 1200px){
    .mask{
        width: 370px;
    }
}
.categLink{
    padding: 25px 20%;
}
