[aria-expanded="false"] .icon-open {
  transition: transform .3s ease-in;
}
[aria-expanded="true"] .icon-open {
  transform: rotate(180deg);
  transition: transform .3s ease-out;
}

@media(min-width:0){
  .logoCard{
      width: 100%;
      height: 200px;
  }
}
@media(min-width: 768px){
  .logoCard{
      width: 100%;
      height: 100%;
  }
}
@media(min-width: 992px){
  .logoCard{
      width: 100%;
      height: 270px;
  }
}
.list-group-item.active {
  background-color: var( --logoColor);
  border-color: var( --logoColor);
}
.list-group-item {
  background-color: transparent;
  border: 0px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.list-group-item-action:active {
  background-color: white;
}
.page-link {
  line-height: 0;
  color: #000000;
  background-color: transparent;
  border: 0;
}
.page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: transparent;
  border-color: #dee2e6;
}
.page-link:hover #next_page, .page-link:hover #pre_page{
  fill: var( --logoColor_2);
}
.hitTag{
  color: var( --logoColor);
  background-color: #ffffff;
  border: solid 1px;
  border-color: var( --logoColor);
  padding: .375rem .75rem;
}
.hitTag:hover{
  color: white;
  background-color: var( --logoColor);
  border: solid 1px;
  border-color: var( --logoColor);
}
.hitTag.active{
  color: white;
  background-color: var( --logoColor);
  border: solid 1px;
  border-color: var( --logoColor);
}