.dot li{
    list-style-type: circle;
}
.list-group-cjk > li{
    list-style-type: cjk-ideographic !important;
    padding: 1rem 0.5rem;
}
.list-group-numbered>li::before {
    left: 0%;
}
.list-group-numbered>li {
    padding-bottom: 1rem;
}
.list-group-alpha > li{
    list-style-type: lower-alpha;
    padding: .3rem 0.5rem;
}