body {
    padding: 0;
    margin: 0;
}
// $img_w: 200px; // 圖片寬 用來計算平均排序用
$img_w: 100px; // 圖片寬 用來計算平均排序用
$img_c: 12; // 圖片元件數量，下面有 for 迴圈
section {
    // width: 100%;
    // height: 100vh;
    overflow: hidden;
    // position: relative;
    //   .img {
    .waterfall {
        // position: absolute;
        width: $img_w;
        transform: scale3d(.5,.5,1);
        border-radius: 9px;
        animation: mbt 3s 0s linear infinite both;
        opacity: .5;
        transition: .3s ease;
        font-size: 0;
        img { 
            // width: 100%;
            transition: .3s ease;
            // border-radius: 9px;
        }
        &:hover {
            opacity: 1;
            animation-play-state: paused; // 讓動畫暫停的關鍵
            z-index: 1; // 讓他跳第一個
            transform: scale3d(1,1,1);
            img {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .25);
            }
        }
    }

    @keyframes mbt {
        0%  { transform: translateY(-200px); }
        100%{ transform: translateY(100vh);  }
    }
    
    // 算數學囉
    @for $i from 1 through $img_c {
        .waterfall:nth-child(#{$i}) {
            left: calc( ( #{$i} - 1 ) * ( 100% - #{$img_w} ) / (#{$img_c} - 1) ) 
        }
    }

    // 其實下面可以用 js 生成，但我想自己設ＸＤ
    .waterfall:nth-child(1) {
        animation-delay: 1s;
        animation-duration: calc( 6.5s + 6.5s );
    }
    .waterfall:nth-child(2) {
        animation-delay: -3s;
        animation-duration: calc( 4.5s + 6.5s );
    }
    .waterfall:nth-child(3) {
        
        animation-delay: -2.3s;
        animation-duration: calc( 8.5s + 6.5s );
    }
    .waterfall:nth-child(4) {
        animation-delay: 0s;
        animation-duration: calc( 3.5s + 6.5s );
    }
    .waterfall:nth-child(5) {
        animation-delay: 0s;
        animation-duration: calc( 5.5s + 6.5s );
    }
    .waterfall:nth-child(6) {
        animation-delay: 1s;
        animation-duration: calc( 7.5s + 6.5s );
    }
    .waterfall:nth-child(7) {
        animation-delay: 1.5s;
        animation-duration: calc( 1.5s + 6.5s );
    }
    .waterfall:nth-child(8) {
        animation-delay: -3s;
        animation-duration: calc( 4.5s + 6.5s );
    }
    .waterfall:nth-child(9) {
        animation-delay: -2.3s;
        animation-duration: calc( 8.5s + 6.5s );
    }
    .waterfall:nth-child(10) {
        animation-delay: 0s;
        animation-duration: calc( 5.1s + 6.5s );
    }
    .waterfall:nth-child(11) {
        animation-delay: 4s;
        animation-duration: calc( 2.6s + 6.5s );
    }
    .waterfall:nth-child(12) {
        animation-delay: -3s;
        animation-duration: calc( 5.8s + 6.5s );
    }
    .waterfall:nth-child(13) {
        animation-delay: 1.4s;
        animation-duration: calc( 8.5s + 6.5s );
    }
    .waterfall:nth-child(14) {
        
        animation-delay: 4s;
        animation-duration: calc( 5.5s + 6.5s );
    }
    .waterfall:nth-child(15) {
        animation-delay: 0s;
        animation-duration: calc( 5.5s + 6.5s );
    }
    .waterfall:nth-child(16) {
        animation-delay: -1s;
        animation-duration: calc( 2.8s + 6.5s );
    }
    .waterfall:nth-child(17) {
        animation-delay: -1.6s;
        animation-duration: calc( 2.1s + 6.5s );
    }
    .waterfall:nth-child(18) {
        animation-delay: 2.3s;
        animation-duration: calc( 3.2s + 6.5s );
    }
    .waterfall:nth-child(19) {
        animation-delay: 2.7s;
        animation-duration: calc( 2.5s + 6.5s );
    }
    .waterfall:nth-child(20) {
        animation-delay: 2.9s;
        animation-duration: calc( 5.5s + 6.5s );
    }
    .waterfall:nth-child(21) {
        animation-delay: 1s;
        animation-duration: calc( 4.5s + 6.5s );
    }
    .waterfall:nth-child(22) {
        animation-delay: 0s;
        animation-duration: calc( 2.5s + 6.5s );
    }
    .waterfall:nth-child(23) {
        animation-delay: -3s;
        animation-duration: calc( 5.5s + 6.5s );
    }
    .waterfall:nth-child(24) {
        animation-delay: -2s;
        animation-duration: calc( 8.5s + 6.5s );
    }
    .waterfall:nth-child(26) {
        animation-delay: -1s;
        animation-duration: calc( 2.4s + 6.5s );
    }
    .waterfall:nth-child(27) {
        animation-delay: 0s;
        animation-duration: calc( 6.4s + 6.5s );
    }
    .waterfall:nth-child(28) {
        animation-delay: 1s;
        animation-duration: calc( 2.3s + 6.5s );
    }
    .waterfall:nth-child(29) {
        animation-delay: 0s;
        animation-duration: calc( 1.5s + 6.5s );
    }
    .waterfall:nth-child(30) {
        animation-delay: 3s;
        animation-duration: calc( 5.5s + 6.5s );
    }
    .waterfall:nth-child(31) {
        animation-delay: 0s;
        animation-duration: calc( 2.5s + 6.5s );
    }
    .waterfall:nth-child(32) {
        animation-delay: 2.3s;
        animation-duration: calc( 8.3s + 6.5s );
    }
    .waterfall:nth-child(33) {
        animation-delay: 4s;
        animation-duration: calc( 2.8s + 6.5s );
    }
    .waterfall:nth-child(34) {
        animation-delay: 0s;
        animation-duration: calc( 6.5s + 6.5s );
    }
    .waterfall:nth-child(35) {
        animation-delay: -2.3s;
        animation-duration: calc( 2.5s + 6.5s );
    }
    .waterfall:nth-child(36) {
        animation-delay: 0s;
        animation-duration: calc( 4.5s + 6.5s );
    }
    .waterfall:nth-child(37) {
        animation-delay: 2.3s;
        animation-duration: calc( 2.5s + 6.5s );
    }
    .waterfall:nth-child(38) {
        animation-delay: 2.3s;
        animation-duration: calc( 2.5s + 6.5s );
    }
    .waterfall:nth-child(39) {
        animation-delay: 2.3s;
        animation-duration: calc( 2.5s + 6.5s );
    }
    .waterfall:nth-child(40) {
        animation-delay: 5.3s;
        animation-duration: calc( 2.9s + 6.5s );
    }
    .waterfall:nth-child(41) {
        animation-delay: 1.3s;
        animation-duration: calc( 3.5s + 6.5s );
    }
}